body 
{
	background-color: black;
	color: white;
	font-family: tahoma;
}
/* comentario */
input 
{
	color: lime;
	background-color: black;
	border: solid 1px yellow;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px silver;
}	

#em
{
	color: violet;
	border: solid 1px cyan;
}

p
{
	width: 50%;
	color: lime;
	border: dotted 3px lime;
	text-align: justify;
	font-weight: bolder;
	transform: translate(80px, 80px) 		  
		  rotate(45deg);  		  
}

.destaque 
{
	width: 100%;
	color: violet;
	border: dashed 1px violet;
	padding: 5px;
}

#formulario
{
	width:100px;			
	display: block;
	float: left;
}


